default:
    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: Cript\BlogBundle\Tests\App\TestKernel
                path: tests/App/TestKernel.php
            bootstrap: tests/bootstrap.php
    suites:
        default:
            paths:
                - "%paths.base%/tests/features/demo"
            contexts:
                - Cript\BlogBundle\Tests\Behat\Context\Demo
        posts-list:
            paths:
                - "%paths.base%/tests/features/blog/posts-list"
            contexts:
                - Cript\BlogBundle\Tests\Behat\Context\MDPostsList
        post-show:
            paths:
                - "%paths.base%/tests/features/blog/post-show"
            contexts:
                - Cript\BlogBundle\Tests\Behat\Context\MDPostShow
